.button-component{
    font-size: larger;
    margin: 5px;
}
.menu-component{
    padding-top: 20px;
    h1{

    padding: 40px;
    text-align: center;
    background: #f9f7f7;
    margin:30px;
    font-size:20px;
}
}

