.Graph_display{
    position: center;
    background: #27293d;
    opacity: 1;
    margin-top: 52px;
    border-radius: 5px;
    height: 100%;
    width: 60%;
    margin-left: 56px;
    .content{
    color: white;
    }
    
    }
